

{% if form is defined %}
    <div class="form_container">
        {{ form_start(form) }}
        <div class="form_listing">
            {{ form_row(form.price) }}
            {{  form_row(form.comment) }}
            <div class="btn_container">

                <a href="{{ path('provider_offer_propose') }}">
                    <button id="btnAdd" name="add" class="btn btn-primary" type="submit">Ajouter
                    </button>
                </a>

            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endif %}