<nav id="header" class="navbar navbar-expand-lg">
    <div id="navlogo-connected">
        <a href="{{ path('vm_user_index') }}"><img class="logo-vw"
                                                   src=" {{ asset("public/img/logo.png") }}"></a>
        <div id="#nav-connected" class="p-2">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                Connecté en tant que {{ app.user.username }}
            {% endif %}
        </div>
    </div>


    <div class="navbar-collapse" id="responsiveHeader">
        <div class="navbar-nav d-flex justify-content-end">
            <div class="p-2 notify-container">
                <a href="{{ path('vm_user_index') }}">
                    <button class="btn-sm btn-dark" title="Notification"><i class="fa fa-bell"
                                                                            aria-hidden="true"></i>
                    </button>
                </a>
                <span class="badge badge-primary notify">
                    {% if propositions is defined %}
                        {{ propositions | length }}
                    {% else %}
                        0
                    {% endif %}</span>
            </div>


            <div class="p-2 dropdown">
                <button class="btn-sm btn-dark dropdown-toggle" type="button" id="profil-menu"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Menu


                </button>

                <div class="dropdown-menu" aria-labelledby="profil-menu">
                    <a class="block-relative-profil dropdown-item"
                       href="{{ path('provider_management') }}">Fournisseurs</a>

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a class="block-relative-deconnexion" href="{{ path('fos_user_security_logout') }}">
                            Déconnexion
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                    {% endif %}

                </div>
            </div>


        </div>
    </div>


</nav>