{% extends "@Core/Display/Viwametal/index.html.twig" %}
 {% block propositions %}

         <div id="acceptation">
             <div class="p-2">
                 <h3>{{ title }} - {{ tag }}</h3>


             </div>


         </div>


     {% if form is defined %}
         <div class="form_container">
             {{ form_start(form) }}
             <div class="form_listing">
                 {{ form_row(form.responseViwametal) }}
                 <div class="btn_container">

                     <a href="{{ path('vm_user_coo_accept', {'id' : idProp }) }}">
                         <button id="btnAccept" name="add" class="btn btn-primary btn-success" type="submit">accepter
                         </button>

                     </a>
                     <a href="{{ path('vm_user_index') }}">
                             <button class="btn btn-danger">annuler</button>
                         </a>


                 </div>
             </div>
             {{ form_end(form) }}
         </div>
     {% endif %}
 {% endblock %}