{% extends "@Core/Display/Viwametal/index.html.twig" %}
 {% block propositions %}
     {% if tag is defined and prov_username is defined and refusal is defined and refusal == true %}
         <div id="refusal">
             <div class="p-2">
                 <h3>Proposition refusée !</h3>
                 <div>Appel d'offre: {{ tag }} </div>
                 <div>Proposition de {{ prov_username }} </div>

             </div>
             <div class="p-2"><a href="{{ path('vm_user_index') }}">
                     <button class="btn btn-danger">Retour</button>
                 </a>
             </div>

         </div>
     {% endif %}

     {% if form is defined %}
         <div class="form_container">
             {{ form_start(form) }}
             <div class="form_listing">
                 {{ form_row(form.responseViwametal) }}
                 <div class="btn_container">

                     <a href="{{ path('vm_user_coo_refuse', {'id' : idProp }) }}">
                         <button id="btnRefuse" name="add" class="btn btn-primary" type="submit">Refuser
                         </button>
                     </a>

                 </div>
             </div>
             {{ form_end(form) }}
         </div>
     {% endif %}
 {% endblock %}