{% extends "@Core/Display/Viwametal/index.html.twig" %}
 {% block propositions %}
     {% if propositions is defined %}

         <div class="form_container">
             <div class="table-responsive">

                 <table id="table_viwa_user">
                     <thead>
                     <tr>
                         <th>
                             Fournisseur
                         </th>
                         <th>
                             Prix
                         </th>
                         <th>
                             Commentaire
                         </th>
                         <th>
                             Emmission
                         </th>
                         <th>
                             Date prévue
                         </th>
                     </tr>
                     </thead>
                     <tbody>

                     {% for proposition in propositions %}
                         {% if proposition.isAccepted == 0 and proposition.isRefused == 0 %}
                             <tr class="tr_viwa_user">
                                 <td class="col_provider">
                                     {{ proposition.provider.username }}

                                 </td>

                                 <td class="col_price">
                                     {{ proposition.price }}
                                 </td>
                                 <td class="col_comment">
                                     {{ proposition.comment }}
                                 </td>
                                 <td class="col_date">
                                     {{ proposition.date |date('d-m-Y à H:i') }}
                                 </td>
                                 <td class="col_date">
                                     {{ proposition.dateLivPrev |date('d-m-Y à H:i') }}
                                 </td>
                                 <td>
                                     <div class="btn-choice-tab">
                                         <a href="{{ path('vm_user_coo_refuse', {'id' : proposition.id }) }}">
                                             <button class="btnRefuse btn-sm btn-danger" type="submit">
                                                 Refuser
                                             </button>
                                         </a>
                                         <a href="{{ path('vm_user_coo_accept', {'id' : proposition.id }) }}">
                                             <button class="btnAccept btn-sm btn-success" type="submit">
                                                 Accepter
                                             </button>
                                         </a>
                                     </div>

                                 </td>
                             </tr>
                         {% endif %}
                     {% endfor %}
                     </tbody>
                 </table>

             </div>
         </div>

     {% endif %}
 {% endblock %}