{% if listCooInProgress is defined and listCooInProgress != null %}

    {% if count is defined %}
        {% set cpt = 0 %}
        {% if count == null %}
            {% set nbProp = 0 %}
        {% else %}
            {% set nbProp = count[cpt] %}

        {% endif %}
    {% endif %}
    <div class="form_container">


        <table id="table_viwa_user" class="table-responsive">
            <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Libellé
                </th>
                <th>
                    Quantité
                </th>

                <th colspan="2">
                    émis le
                </th>
            </tr>
            </thead>
            <tbody>

            {% for coo in listCooInProgress %}
                {% set cpt = 0 %}
                {% for prop in propositions %}
                    {% if prop.callOfOffer.id == coo.id %}
                        {% set cpt = cpt + 1 %}
                    {% endif %}
                {% endfor %}

                <tr class="tr_viwa_user">
                    <td class="col_id">
                        {{ coo.id }}
                    </td>
                    <td class="col_tag">
                        {{ coo.tag }}
                    </td>
                    <td class="col_quantity">
                        {{ coo.quantity }}
                    </td>
                    <td class="col_date">
                        {{ coo.date|date('d-m-Y à H:i') }}
                    </td>
                    <td>
                        <div class="btn-choice-tab">


                            {% if cpt > 0 %}
                                <a href="{{ path('vm_user_coo_see', {'id' : coo.id , 'tag' : coo.tag }) }}">
                                    <button name="del" class="btnResponse btn-sm btn-success" type="submit">
                                        Répondre ({{ cpt }} )
                                    </button>
                                </a>

                            {% else %}
                                <a href="{{ path('vm_user_coo_delete', {'id' : coo.id }) }}">
                                    <button name="del" class="btnDelete btn-sm btn-danger" type="submit">
                                        Supprimer
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                    </td>

                </tr>

            {% endfor %}

            </tbody>
        </table>

    </div>
{% else %}
    <div class="noCoo title_container">
        AUCUN APPEL D'OFFRE EN COURS
    </div>
{% endif %}