<nav id="header" class="navbar navbar-expand-lg">
    <div id="navlogo-connected">
        <a href="{{ path('provider_coo_index') }}"><img class="logo-vw"
                                                        src=" {{ asset("public/img/logo.png") }}"></a>
        <div id="#nav-connected" class="p-2">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                Connecté en tant que {{ app.user.username }}
            {% endif %}
        </div>
    </div>


    <div class="navbar-collapse" id="responsiveHeader">
        <div class="navbar-nav d-flex justify-content-end">
            <div class="p-2 notify-container">
                <a href="{{ path('provider_coo_consult') }}">
                    <button class="btn-sm btn-dark"
                            title="Notification"><i class="fa fa-bell"
                                                    aria-hidden="true"></i>
                    </button>
                </a>
                <span class="badge badge-primary notify">
                     {% if listCoo is defined %}
                         {% set nbNewCoo = 0 %}
                         {% for coo in listCoo %}
                             {% if coo.inProgress == 1 %}
                                 {% set nbNewCoo = nbNewCoo + 1 %}
                             {% endif %}
                         {% endfor %}
                         {{ nbNewCoo }}
                     {% else %}
                         0
                     {% endif %}</span>
                </span>
            </div>


            <div class="p-2 dropdown">
                <button class="btn-sm btn-dark dropdown-toggle" type="button" id="profil-menu" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Menu


                </button>

                <div class="dropdown-menu" aria-labelledby="profil-menu">
                    <a class="block-relative-profil dropdown-item" href="#">Mon Profil</a>

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a class="block-relative-deconnexion" href="{{ path('fos_user_security_logout') }}">
                            Déconnexion
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                    {% endif %}

                </div>
            </div>

        </div>


</nav>