{% if listCoo is defined %}

    <div class="form_container">
        <div class="table-responsive">
            <table id="table_provider">
                <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Libellé
                    </th>
                    <th>
                        Quantité
                    </th>
                    <th colspan="2">
                        Date
                    </th>
                </tr>
                </thead>
                <tbody>

                {% for coo in listCoo %}
                    {% set isProposed = false %}
                    {% set isAccepted = false %}
                    {% set isRefused = false %}

                    {% if propositions is defined and propositions != null %}
                        {% for prop in propositions %}
                            {% if prop.callOfOffer.id == coo.id %}
                                {% set isProposed = true %}

                                {% if prop.isAccepted == true %}
                                    {% set isAccepted = true %}
                                {% endif %}
                                {% if prop.isRefused == true %}
                                    {% set isRefused = true %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <tr class="tr_provider">
                        <td class="col_id">
                            {{ loop.index }}

                        </td>
                        <td class="col_tag">
                            {% if (isProposed == false ) %}
                                {{ coo.tag }}
                            {% else %}
                                <a href="#">{{ coo.tag }}</a>
                            {% endif %}
                        </td>
                        <td class="col_quantity">
                            {{ coo.quantity }}
                        </td>
                        <td class="col_date">
                            {{ coo.date|date('d-m-Y à H:i') }}
                        </td>
                        <td>
                            <div class="btn-choice-tab">


                                {% if isProposed == false %}
                                    <a href="{{ path('provider_offer_propose', {'id' : coo.id }) }}">
                                        <button name="propose"
                                                class="btnPropose btn-sm btn-success"
                                                type="submit">
                                            Proposer
                                        </button>
                                    </a>
                                {% else %}

                                    <a href="{{ path('provider_offer_delete', {'id' : coo.id }) }}">
                                        <button name="removeProp"
                                                class="btnRemoveProp btn-sm btn-danger"
                                                type="submit">
                                            {% if isAccepted == true %}
                                                Offre acceptée
                                            {% endif %}
                                            {% if isRefused == true %}
                                                Offre refusée
                                            {% endif %}
                                            {% if isAccepted == false and isRefused == false %}
                                                Annuler
                                            {% endif %}
                                        </button>
                                    </a>

                                {% endif %}
                            </div>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>
    </div>
{% endif %}