{% if list is defined %}
    <div class="form_container">
        <div class="table-responsive">
            <table id="table_provider">
                <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Libellé
                    </th>
                    <th>
                        Quantité
                    </th>
                    <th colspan="2">
                        Date
                    </th>
                </tr>
                </thead>
                <tbody>
                {% set cpt = 0 %}
                {% for row in list %}

                    {% set isProposed = false %}
                    {% if propositions is defined %}
                        {% for presence in propositions %}

                            {% if row.id == presence.callOfOffer.id and app.user.username == presence.provider.username %}
                                {% set isProposed = true %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% set counter = ( counter | default(0) ) + 1 %}
                    <tr class="tr_provider">
                        <td class="col_id">
                            {{ counter }}
                        </td>
                        <td class="col_tag">
                            {% if (idProp is defined and idProp == row.id) or isProposed == true %}
                                <a href="#">{{ row.tag }}</a>
                            {% else %}
                                {{ row.tag }}
                            {% endif %}
                        </td>
                        <td class="col_quantity">
                            {{ row.quantity }}
                        </td>
                        <td class="col_date">
                            {{ row.date|date('d-m-Y à H:i') }}
                        </td>
                        <td>
                            <div class="btn-choice-tab">

                                {% if isProposed == false %}
                                    {% if (idProp is defined and idProp != row.id) or (idProp is not defined) %}
                                        <a href="{{ path('provider_offer_propose', {'id' : row.id }) }}">
                                            <button name="propose"
                                                    class="btnPropose btn-sm btn-success"
                                                    type="submit">
                                                Proposer
                                            </button>
                                        </a>
                                    {% endif %}
                                {% endif %}

                                {% if (idProp is defined and idProp == row.id) or isProposed == true %}

                                    <a href="{{ path('provider_offer_delete', {'id' : row.id }) }}">
                                        <button name="removeProp"
                                                class="btnRemoveProp btn-sm btn-danger"
                                                type="submit">
                                            Supprimer
                                        </button>
                                    </a>

                                {% else %}

                                {% endif %}

                            </div>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endif %}